<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">





    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Titillium+Web&family=Libre+Franklin&family=Poppins&family=Asap+Condensed:wght@400&family=Open+Sans&family=EB+Garamond&family=Lato&family=Montserrat:ital,wght@0,300;0,500;1,400&family=Roboto:wght@300;400;700&display=swap&family=Lora:ital@1&family=Noto+Serif&family=Roboto+Condensed:ital@1&display=swap"
        rel="stylesheet" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>










    <link rel="stylesheet" href="assets/css/style.css" />



    <!-- FAVICON PARA TODOS LOS DISPOSITIVOS -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="assets/img/favicon/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="assets/img/favicon/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="assets/img/favicon/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="assets/img/favicon/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="60x60"
      href="assets/img/favicon/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="assets/img/favicon/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="76x76"
      href="assets/img/favicon/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="assets/img/favicon/apple-touch-icon-152x152.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/favicon/favicon-196x196.png"
      sizes="196x196"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/favicon/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/favicon/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/favicon/favicon-128.png"
      sizes="128x128"
    />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="assets/img/favicon/mstile-144x144.png"
    />
    <meta
      name="msapplication-square70x70logo"
      content="assets/img/favicon/mstile-70x70.png"
    />
    <meta
      name="msapplication-square150x150logo"
      content="assets/img/favicon/mstile-150x150.png"
    />
    <meta
      name="msapplication-wide310x150logo"
      content="assets/img/favicon/mstile-310x150.png"
    />
    <meta
      name="msapplication-square310x310logo"
      content="assets/img/favicon/mstile-310x310.png"
    />

    <!-- FIN DE FAVICON PARA TODOS LOS DISPOSITIVOS -->

    <title>Meta Gaming - El blog n°1 de videojuegos en español</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
    <script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>


</head>

<body>

    <div id="app">
        <header-component ref="headerComponent"></header-component>
        <router-view></router-view>
        <footer-component></footer-component>

        <div class="overlay" v-if="mostrarFormulario">

            <div class="popup">
                <div class="centro">
                    <h2>Iniciar sesión</h2>
                    <a class="close" @click="mostrarFormularioLogin">&times;</a>
                </div>
                <div class="content">
                    <form class="formulario-login">
                    <input type="text" placeholder="Usuario" v-model="usuario">
                    <input type="password" placeholder="Contraseña" v-model="password">
                    <button type="button" @click="iniciarSesion">Entrar</button>
                    </form>
                    <div class="error" v-if="mostrarError">
                      <p>¡Credenciales incorrectas! Por favor, verifica tus datos e intenta nuevamente.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="assets/js/vuejs.js"></script>
    
</body>

</html>